<!DOCTYPE html>
<html>
<head>
  <title>Autor</title>
  <link rel="stylesheet" type="text/css" href="author.component.css">
</head>
<body>

  <div class="autor">

  <div class="ognjenjelovac">
    <h1>Ognjen Jelovac</h1>
    <p>II 2/2019</p>
  
  <div class="about">
      <h3>O meni</h3>
      <p> Moje ime je Ognjen Jelovac i student sam pete (produžene) godine FTN-a, smer Industrijsko Inženjerstvo, 
        usmerenje Informacioni-upravljački i komunikacioni sistemi. </p>
      </div>

    </div>
</div> 

</body>
</html>
