<!DOCTYPE html>
<html>
<head>
  <title>Aplikacija za pretragu pacijenata</title>
  <link rel="stylesheet" type="text/css" href="about.component.css">
</head>
<body>

  <div class="sve">

  <div class="aplikacija">
    <h1>Aplikacija</h1>
    <p>Dobrodošli na web aplikaciju koja Vam omogućava pretragu pacijenata po bolnicama. Prikaz odeljenja, bolnica i mogućih dijagnoza. </p>
  </div>

  <div class="bolnice">
      <h3>Bolnice</h3>
      <p>Prikazane Bolnice nalaze se širom Srbije, sa njihovim adresama. Za svaku bolnicu su izlistana odeljenja.
        Na taj način se korisniku pruža kompletan uvid u zdravstveni sistem.</p>
  </div>

  </div>
</body>
</html>
